.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .border-top {
    border-color: #444;
}

.dark-mode .text-body-secondary {
    color: #bbbbbb !important;
}

.dark-mode .bg-light {
    background-color: #333 !important;
}

img[alt="perfil"] {
    height: 4vw;
}

footer div img, #btnModo img {
    width: 50px;
}

#btnModo {
    position: fixed;
    bottom: 80px;
    right: 5px;
    background: none;
    border: none;
}

.navImg {
    width: 40px;
    height: 40px;
}

#root {
    width: 200vw;
}

#filtro {
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    background-color: #e1ebee;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s;
}

#filtro:focus {
    scale: 1.1;
    box-shadow: #c98116 0px 0px 10px;
}

html {
    scrollbar-width: none;
}

.cssbuttons-io-button {
    background: #1900ff;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7f52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: none;
}

.cookie-consent button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.cookie-consent button:hover {
    background-color: #45a049;
}
