.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .border-top {
    border-color: #444;
}

.dark-mode .text-body-secondary {
    color: #bbbbbb !important;
}

.dark-mode .bg-light {
    background-color: #333 !important;
}

img[alt="perfil"] {
    height: 4vw;
}

footer div img, #btnModo img {
    width: 50px;
}

#btnModo {
    position: fixed;
    bottom: 60px;
    right: 5px;
    background: none;
    border: none;
}

.navImg {
    width: 40px;
    height: 40px;
}

#root {
    width: 200vw;
}